extends main.pug

block styles
  style.
    main > article {
      display: grid;
      grid-template-areas: "title title" "summary summary" "time read_more";
      margin-bottom: 1rem;
      border-bottom: 1px solid #373737;
      padding-bottom: 2rem;      
    }
    main > article > h2 {
      grid-area: title;
      margin-bottom: 0;
    }
    main > article > summary {
      grid-area: summary;
      padding-bottom: 0.5rem;
    }
    main > article > time {
      grid-area: time;
    }
    main > article > a {
      grid-area: read_more;
      text-align: right;
    }
    nav.pagination {
      display: grid;
      grid-template-columns: auto auto;
    }
    nav.pagination :last-child {
      text-align: right;
    }
    nav.pagination > * {
      margin: 0;
    }
    nav.tags {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 0.5rem;
    }
    nav.tags > a {
      display: block;
      white-space: nowrap;
    }
block content
  !=content
