<!DOCTYPE html>
html(lang='en-gb')
  head
    block title
      title I Really Don't Know
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content="I Really Don't Know is a low-frequency blog written by Rob Styles. It covers topics of fatherhood, technology, software engineering, and social impact.")
    style.
      * {
        box-sizing: border-box;
      }
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #373737;
        padding: 1rem 1rem 1rem 3rem;
        max-width: 1024px;
        margin: 0 auto;
      }
      a {
        color: #0A3055;
      }
      p, summary {
        line-height: 1.625;
      }
      header {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #373737;
      }
      header a {
        text-decoration: none;
        color: #373737;
      }
      header h1 {
        margin-top: 0;
        margin-bottom: 0.25rem;
      }
      header p {
        margin-top: 0.25rem;
      }
      footer {
        margin-top: 2rem;
        border-top: 1px solid #373737;
      }
      footer #social {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        background: #ff8638;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        padding: 10vh 0;
      }
      footer #social img {
        margin: 0.4rem;
      }
    block styles

  body 
    header
      a(href='/')
        h1 I _Really_ Don't Know
        summary A low-frequency blog by Rob Styles
    main
      block content
    block nav
    footer 
      p © Copyright 1999-2024, Rob Styles
      a(href='/online')#social
        img(src="/assets/icons/blog.svg" height=24 width=24 alt="Blog logo")
        img(src="/assets/icons/twitter.svg" height=24 width=24 alt="Twitter logo")
        img(src="/assets/icons/mastodon.svg" height=24 width=24 alt="Mastodon logo")
        img(src="/assets/icons/gitlab.svg" height=24 width=24 alt="GitLab logo")
        img(src="/assets/icons/github.svg" height=24 width=24 alt="GitHub logo")
        img(src="/assets/icons/exercism.svg" height=24 width=24 alt="Exercism logo")
        img(src="/assets/icons/strava.svg" height=24 width=24 alt="Strava logo")
        img(src="/assets/icons/instagram.svg" height=24 width=24 alt="Instagram logo")
        img(src="/assets/icons/slack.svg" height=24 width=24 alt="Slack logo")
        img(src="/assets/icons/whatsapp.svg" height=24 width=24 alt="WhatsApp logo")
        img(src="/assets/icons/gmail.svg" height=24 width=24 alt="GMail logo")
        img(src="/assets/icons/linkedin.svg" height=24 width=24 alt="LinkedIn logo")
