extends main.pug

block title
  title= `${title} | I Really Don't Know`
  link(rel="canonical" href=`https://rob.styles.to${page.url}`)

block styles 
  style.
    p.comment {
      margin-bottom: 0;
    }
    p.content {
      margin-top: 0;
    }
    p.comment time:after {
      content: ' ';
    }
    p.comment span.author:after {
      content: ': ';
    }
    p.comment span.author {
      font-style: italic;
    }
    table {
      text-align: left;
      border-collapse: collapse;
    }
    table tr {
      border-bottom: 1px solid #dadada;
    }
    table th, table td {
      padding: 0.4rem;
    }
    table td {
      vertical-align: top;
    }


block content
  main
    h1= title
    time(moment(date).format('YYYY-MM-DD'))= moment(date).format('D MMMM YYYY')
    !=content
    if (comments[`${legacy_wordpress_id}`])
      h2 Comments
      for comment in comments[legacy_wordpress_id]
        p.comment
          time(moment(comment.comment_date).format('YYYY-MM-DD'))= moment(comment.comment_date).format('D MMMM YYYY')
          span.author!= comment.comment_author
          p.content!= comment.comment_content
