---
layout: home.pug
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
for post in posts
  article
    h2= post.data.title
    summary!= post.data.page.excerpt ? md.render(post.data.page.excerpt) : ''
    time(moment(post.date).format('YYYY-MM-DD'))= moment(post.date).format('D MMMM YYYY')
    a(href=post.url) Read more…

block nav
  nav.pagination
    if pagination.href.next
      a(href=pagination.href.next) Older Posts
    else
      p Older Posts

    if pagination.href.previous
      a(href=pagination.href.previous) Newer Posts
    else
      p Newer Posts

  h3 Explore by Category
  nav.tags
    for collection in Object.keys(collections).filter(tag => !['post', 'all'].includes(tag)).sort()
      a(href=`/tags/${filters.slug(collection)}`)= collection
