<!DOCTYPE html>
html(lang='en-gb')
  head
    title Find Rob Styles Online"
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content="These are the places you can find Rob Styles online.")
    style.
      * {
        box-sizing: border-box;
      }
      body {
        background: #ff8638;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #1c1c1c;
        padding: 1rem 1rem 1rem 3rem;
        max-width: 1024px;
        margin: 0 auto;
      }
      header {
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #1c1c1c;
      }
      header h1 {
        margin-top: 0;
        margin-bottom: 0.25rem;
      }
      header p {
        margin-top: 0.25rem;
      }
      p, summary {
        line-height: 1.625;
      }
      main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      main a {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 'logo title' 'empty summary';
        margin: 2rem 0;
        text-decoration: none;
        color: #1c1c1c;
        align-self: flex-start;
      }
      main a img {
        grid-area: logo;
        margin: 0.25rem 0.5rem 0 0;
      }
      main a h2 {
        margin: 0;
        grid-area: title;
        align-self: center;
      }
      main a p {
        grid-area: summary;
        margin: 0;
        padding: 0 1rem 0 0;
      }
      footer {
        margin-top: 2rem;
        border-top: 1px solid #1c1c1c;
      }

  body 
    header
      h1 Find Rob Styles Online
      summary These are the most common places to find me online
    main
      a(href='/')
        img(src="/assets/icons/blog.svg" height=24 width=24 alt="Blog logo")
        h2 Blog
        p My first blog post was back in 1999, and I kept posting until 2012 when I let the blog die. I reinstated it in 2021. It's a low frequency blog of technical thoughts.
      a(href='https://twitter.com/mmmmmrob' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/twitter.svg" height=24 width=24 alt="Twitter logo")
        h2 Twitter
        p I've been on Twitter since February 2007. In recent years it's turned into a bit of a dumpster fire, full of abuse, argument, and misinformation. I use it mostly to follow interesting people in tech.
      a(href='https://mastodon.social/@robstyles' rel="me noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/mastodon.svg" height=24 width=24 alt="Mastodon logo")
        h2 Mastodon / Fediverse
        p I'm increasingly using Mastodon, a federated social media platform, in preference to Twitter. Come find me there.
      a(href='https://gitlab.com/robstyles' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/gitlab.svg" height=24 width=24 alt="GitLab logo")
        h2 GitLab
        p This site is hosted on GitLab, using Eleventy with GitLab CI/CD and Pages. I've only recently started using GitLab and am impressed. I'd recommend taking a look if you haven't already.
      a(href='https://github.com/mmmmmrob' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/github.svg" height=24 width=24 alt="GitHub logo")
        h2 GitHub
        p Most of my code is hosted on GitHub, much of it is open-source, but a lot of it is private.
      a(href='https://exercism.io/profiles/robstyles' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/exercism.svg" height=24 width=24 alt="Exercism logo")
        h2 Exercism
        p Exercism is a great tool for programming language learning. I mentor on the javascript track.
      a(href='https://www.strava.com/athletes/3084959' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/strava.svg" height=24 width=24 alt="Strava logo")
        h2 Strava
        p I started running in May 2018, and joined a local running club in May 2019. I run regularly. Prior to 2018 I used to commute by bike fairly regularly. It's all on strava.
      a(href='https://instagram.com/mmmmmrob' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/instagram.svg" height=24 width=24 alt="Instagram logo")
        h2 Instagram
        p Mostly travel photos from various trips at different times, intermixed with shots from in and around Birmingham. Selfies are rare.
      a(href='https://docs.google.com/forms/d/e/1FAIpQLSex78x9s3Ijl9PruWpy1vMsRrqdu75N3D4wnicg0983WUBMGg/viewform' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/slack.svg" height=24 width=24 alt="Slack logo")
        h2 Slack
        p You probably use slack at your workplace. If you'd like to chat on slack you can find me in the BrumTech community (this links to a self-invite form).
      a(href='https://api.whatsapp.com/send?phone=07971475257' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/whatsapp.svg" height=24 width=24 alt="WhatsApp logo")
        h2 WhatsApp
        p If you're a recruiter, and I don't already know you, please do not use this WhatsApp link.
      a(href='mailto:rob@styles.to' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/gmail.svg" height=24 width=24 alt="GMail logo")
        h2 Email
        p Of course, you can always email me.
      a(href='https://www.linkedin.com/in/rob-styles/' rel="noopener noreferrer nofollow" target="_blank")
        img(src="/assets/icons/linkedin.svg" height=24 width=24 alt="LinkedIn logo")
        h2 LinkedIn
        p You can find me on LinkedIn, but I don't check in there very often. The messages in my inbox are mostly spam, so it's likely I'll miss messages from you there. You'll have better luck DMing me on Twitter.

    footer 
      p © Copyright 1999-2021, Rob Styles
