---
layout: home.pug
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "| /tags/!{filters.slug(tag)}/"
---
h1 Posts about #{tag}

ol
  for post in collections[tag].reverse()
    li: a(href=post.url)= post.data.title